

.conteiner-principal{
    border-style: solid;
    background-image: url(Img/encabezado8.jpg);
    background-size: 100%;
    border: 0vh;

}
#princi p{
    color: aliceblue;
    border: 0vh;
    margin-bottom: 0%;
    font-size: 110%;

}
 
.panel5{
    height: 800%;
}
.conteiner-footer{
    background-color: #311c17fa;
    border: 0vh;

}
.container-fluid a{
    color: aliceblue;
    font-size: 120%;
    padding: 10px 20px;
}
.container-fluid h3{
    color: aliceblue;
    font-size: 120%;

}
.container-fluid{
    border-style: double;
    border: 0vh;

}

#cu p{
    font-size: 160%;
}

.conteiner-principal h1{
    color: white; 
    font-weight: bold;
    font-size: 160%;
    margin-top: 3%;
    margin-bottom: 1%;
    text-align: left;
}

.conteiner-footer h2{
    color: white; 
    font-weight: bold;
    font-size: 160%;
    margin-top: 3%;
    margin-bottom: 1%;
    text-align: left;
}

.conteiner-footer p2{
    color: white; 
    font-weight: normal;
    font-size: 90%;
}

.conteiner-principal img{
    float: left;
    margin-top: 1%;
    margin-right: 1%;
    margin-bottom: 3%;
}



.navbar a:hover{
    background-color: #f0eae8fa;
}

